html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Color */
/* Scarlett #BA0621 */
/* Very Dark Brown #0B0101 */
/* Lipstick #CC1D36 */
/* Wine Red #6C0918 */



/* BASE STYLES */
html{
    font-size: 125%;
    color: black;
    font-family: 'Lato', sans-serif;
}

h2{
    font-family: 'Kanit', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
}

h3 {
    font-family: 'Kanit', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    line-height: 1.5rem;
   
}

img {
    max-width: 100%;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
    color: white;
}

.wrapper {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

button {
    background-color: #cc1d36;
    border: 4px solid transparent;
    font-family: 'Kanit', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 20px 5px 20px;
    color: white;
}




/* HEADER STYLES */

header {
    background-image: url(./assets/image-1@2x.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 5px 0;
    
    
}

h1 {
    color: #cc1d36;
    font-family: 'Kanit', sans-serif;
    line-height: 5rem;
    letter-spacing: 1px;
    font-size: 5.2rem;
    margin-top: 17rem;
    
}

h1 span {
    color: white;
    font-family: 'Lato', sans-serif;
    line-height: 31.6px;
    letter-spacing: 0.3px;
    font-size: 1.6rem;
    display: block;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
}

nav  a {
   padding: 20px, 0;
}

nav ul {
    display: flex;

}

.logoText {
    font-weight: bold;
    font-style: italic;
    color: white;
}

.flexHeader {
    display: flex;
    margin-top: 250px;
    justify-content: space-between;
}


.socialMedia {
    display: flex;
    justify-content: flex-end;    
}
.socialMedia ul{
    margin-top: auto;
}

.socialMedia li {
    margin: 7px;
}


/* SECTION STYLES */

/* news articales section */

.newArticles{
    margin-top: 80px;
    margin-bottom: 80px;
}

.newArticles h2{   
    text-align: center;
    padding-bottom: 40px;
}

.newArticles ul{
    display: flex;
    justify-content: space-between;

}

.newArticles li {
    
    width: 32%;
    margin-bottom: 20px;
}

/* highlight section */
.highlights{
    margin-bottom: 80px;
}
.flexHighlight {
    display: flex;
    align-items: flex-start;
   
}

.highlights h2 {
    margin-top: 0;
    margin-bottom: 10px;
    
}
.highlights p {
    margin-top: 0;
    margin-bottom: 0;
    
}

.imgContainer {
    width: calc(30% - 30px);
    margin-right: 30px;
   
}
.textContainer {
    width: 70%;
    position: relative;
}
.textContainer button {
    position: relative;
    top: 20px;
}

/* MODELS SECTION */

.models {
    display: flex;
}

.txtContainer {
    margin-left: auto;
   
    width: 40%;
  
}

.whiteCar {
    width: 50%

}

.txtContainer h2 {
    margin-bottom: 0px;
    padding-right: 190px;
}

.txtContainer p {
    padding-right: 60px;
}


/* DRIVE STYLE SECTION */

.driveStyle {
    display: flex;
}




/* RESOURCE STYLES */
.resources {
    background-image: url(./assets/oscar-aguilar-327500-unsplash@2x.png);
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    position: relative;
}


.resourceInfo ul {
    display: flex;
    justify-content:space-around;
   
}


.resourceInfo a {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    top: 100px;
    

}
.fa-solid {
    color: #cc1d36;
   
}

/* CONTACT STYLES */

.contact{
    background-color: #6C0918;
    color: white;
    
}

.contact p {
    margin: 0;
}

.flexContact {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
   
}

input {
    width: 70%;
}

.contact button {
    background-color: #0B0101;
}





/* FOOTER STYLES */
footer {
    color: white;
    background-color: #0B0101;
    text-align: center;
}
footer p {
    margin: auto;
}

/* media queries */
 @media (max-width: 900px){
    .highlights,
    .models,
    .driveStyle {
        display: block;
    }

    .txtContainer{
        width: 100%;
        text-align: center;
    }

    .txtContainer h2,
    .txtContainer p{
        padding: 0;
    }

    .whiteCar{
        width: fit-content;
    }
    .mobileWrapper{
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    }

 }




 @media (max-width: 500px) {
    .logoText, 
    .flexContainer a,
    .socialMedia a{
        color: transparent;
    }

    .flexHighlight {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .flexHighlight h2{
        font-size: 28px;
    }
    .imgContainer {
        width: 100%;
        margin-right: 0;
    }
   
    

  

}